spring:
  application:
    name: manage-product
  cloud:
    config:
      uri: ${CONFIG_SERVER_URL:http://localhost:8888}
  datasource:
    tomcat:
      max-active: 1
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}
  profiles:
    active: prod