spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: ${uri:https://github.com/abbhagat/spring-boot-config}
          username: ${username:abbhagat}
          password: ${password:Shada$1986}

server:
  port: 8888

management:
  server:
    port: 8889
  endpoints:
    web:
      exposure:
        include: "*"
